body {

background: #f4f8fc;

color: #1e293b;

font-family: Segoe UI, sans-serif;

padding: 60px;
}

.tag {

color: #0057b8;

margin-bottom: 12px;

font-size: 14px;

text-transform: uppercase;

letter-spacing: 1px;
}

.subtitle {

color: #64748b;

font-size: 18px;

line-height: 1.7;
}

/* CARD */

.card {

background: #ffffff;

border-radius: 24px;

padding: 30px;

border: 1px solid #dbe5f0;

transition: 0.3s;

box-shadow:
0 4px 12px rgba(0,0,0,0.04);
}

.card:hover {

transform: translateY(-6px);

border-color: #0057b8;
}

/* NAV */

.nav-card {

text-decoration: none;

color: #1e293b;
}

.description {

color: #64748b;

line-height: 1.7;
}

/* DOC CARD */

.doc-card {

background: #ffffff;

border-radius: 24px;

padding: 30px;

margin-bottom: 24px;

border: 1px solid #dbe5f0;

box-shadow:
0 4px 12px rgba(0,0,0,0.04);
}

/* BADGE */

.doc-badge {

background: #e6f0ff;

color: #0057b8;

padding: 10px 14px;

border-radius: 999px;

font-size: 13px;

font-weight: bold;
}

/* DESCRIPTION */

.doc-description {

color: #64748b;

line-height: 1.7;

margin-bottom: 24px;
}

/* INFO */

.info-item {

background: #eef4fb;

padding: 14px 18px;

border-radius: 12px;

color: #334155;
}

/* TABLE */

.doc-table th {

text-align: left;

padding: 14px;

background: #eef4fb;
}

.doc-table td {

padding: 14px;

border-top: 1px solid #dbe5f0;
}

/* CODE */

.big-code {

display: block;

background: #f8fafc;

border: 1px solid #dbe5f0;

padding: 24px;

border-radius: 16px;

margin-top: 16px;

line-height: 1.8;

color: #0057b8;

overflow-x: auto;
}

/* BACK */

.back-btn {

display: inline-block;

margin-bottom: 40px;

color: #0057b8;

text-decoration: none;

font-weight: 600;
}

/* TABS */

.tab-btn {

background: white;

border: 1px solid #dbe5f0;

color: #475569;

padding: 12px 18px;

border-radius: 999px;

cursor: pointer;

transition: 0.3s;
}

.tab-btn:hover {

border-color: #0057b8;

color: #0057b8;
}

.tab-btn.active {

background: #0057b8;

color: white;
}

/* MEDIDAS */

.measure-card {

background: white;

border: 1px solid #dbe5f0;

border-radius: 20px;

margin-bottom: 18px;

overflow: hidden;

box-shadow:
0 4px 12px rgba(0,0,0,0.04);
}

.measure-content {

padding: 24px;

border-top: 1px solid #dbe5f0;
}

.measure-title {

color: #1e293b;
}

pre.big-code {

background: #f8fafc;

border: 1px solid #dbe5f0;

color: #0057b8;
}
