body {
  background: #0f1115;
  color: white;
  font-family: Arial;
  padding: 40px;
}

input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.card {
  background: #1b1f27;
  padding: 20px;
  border-radius: 12px;
}